# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Sumeet\r1_documents\_data_grip_projects\zz_PROD_DB005\.idea/dataSources/
/dataSources.local.xml
